<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Geeks.GeeksTidyCSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Geeks.GeeksProductivityTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <Geeks.GeeksTidyCSharp.Properties.Settings>
      <setting name="CleanupChoices" serializeAs="String">
        <value/>
      </setting>
    </Geeks.GeeksTidyCSharp.Properties.Settings>
    <Geeks.GeeksProductivityTools.Properties.Settings>
      <setting name="ExcludeResources" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrackItemInSolutionExplorer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ResourceFileTypes" serializeAs="String">
        <value>.gif;.jpg;.png;.bmp;.resx;.ico;.bat;.tif;.psd;.sln;.suo;.csproj;.user;.cd;.lic;_reset.css;.html;.jsm;.map;.cache;vsdoc;.dat;.force;.map;.md;.rtf;.tmp</value>
      </setting>
      <setting name="ExcludedDirectories" serializeAs="String">
        <value>
          @Temp\Validation;@CuteSoft;@Coder.Meta;.svn;node_modules;bower_components;public;obj
        </value>
      </setting>
      <setting name="ShowMethodParameters" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowMethods" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMethodReturnTypes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowClassNames" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowProperties" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RemoteMachines" serializeAs="String">
        <value/>
      </setting>
      <setting name="CleanupChoices" serializeAs="String">
        <value/>
      </setting>
    </Geeks.GeeksProductivityTools.Properties.Settings>
  </userSettings>
</configuration>
