<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="envdte" version="17.0.31902.203" targetFramework="net472" />
  <package id="envdte80" version="17.0.31902.203" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.13.14" targetFramework="net472" />
  <package id="MessagePack" version="2.3.85" targetFramework="net472" />
  <package id="MessagePack.Annotations" version="2.3.85" targetFramework="net472" />
  <package id="MessagePackAnalyzer" version="2.3.85" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.AnalyzerUtilities" version="3.3.3" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.EditorFeatures.Text" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Features" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.DiaSymReader" version="1.3.0" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="4.0.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.0.487" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition" version="16.9.20" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="16.9.20" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition.NetFxAttributes" version="16.9.20" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.0.487" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Debugger.Contracts" version="17.2.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Interop" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.LanguageServices" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.36" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Design" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="16.10.31321.278" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="16.10.31321.278" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="16.10.31321.278" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="16.10.31321.278" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.1.DesignTime" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.0.DesignTime" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.1.DesignTime" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.5.DesignTime" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.6.DesignTime" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.7.DesignTime" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.8.DesignTime" version="16.10.31320.212" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.16.0.DesignTime" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.16.3.DesignTime" version="16.10.31320.204" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.0.487" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.0.487" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="17.0.64" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.0.64" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="17.0.34" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="stdole" version="17.0.31902.203" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.Convention" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="6.0.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="6.0.0" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>