<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="16.9.31023.347" targetFramework="net472" />
  <package id="EnvDTE100" version="10.0.0" targetFramework="net472" />
  <package id="EnvDTE80" version="8.0.0" targetFramework="net472" />
  <package id="EnvDTE90" version="9.0.0" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.2.0" targetFramework="net472" />
  <package id="MessagePack" version="2.1.152" targetFramework="net472" />
  <package id="MessagePack.Annotations" version="2.1.152" targetFramework="net472" />
  <package id="MessagePackAnalyzer" version="2.1.152" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.AnalyzerUtilities" version="3.3.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="2.9.4" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.EditorFeatures.Text" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Features" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FlowAnalysis.Utilities" version="2.9.6" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net472" />
  <package id="Microsoft.DiaSymReader" version="1.3.0" targetFramework="net472" />
  <package id="Microsoft.Practices.Modeling.Common" version="4.0.30319" targetFramework="net472" />
  <package id="Microsoft.ServiceHub.Framework" version="2.1.20" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="16.4.280" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition" version="16.9.20" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="16.9.20" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition.NetFxAttributes" version="16.9.20" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="16.10.230" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Debugger.Contracts" version="16.10.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="16.4.29519.181" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging" version="16.4.29519.181" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.LanguageServices" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.3.14" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.34" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="16.4.29519.181" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="16.4.29519.181" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26929" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.6.DesignTime" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30730" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="16.10.230" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="16.10.230" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.UI" version="16.4.280" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="16.4.280" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="16.10.56" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.10.56" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="16.9.32" targetFramework="net472" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.8.3252" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="stdole" version="16.9.31023.347" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net472" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net472" />
  <package id="System.Composition" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="5.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.6.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.6.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="VsWebSite.Interop" version="16.9.31023.347" targetFramework="net472" />
</packages>